<div class="col-xs-12 col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <form id="bq_form">
                <label>新增</label>
                <label>类型</label>
                <select name="lx">
                    <option value="1">一般</option>
                    <option value="2">重要</option>
                    <option value="3">不重要</option>
                </select>
                <label>标题</label>
                <input type="text" name="bt"/>
                <label>内容</label>
                <input type="text" name="nr" style="width:500px;"/>
                <input type="button" value="确定" onclick="bq_save()"/>
            </form>
        </div>
        <div class="ibox-content">
        </div>
    </div>
</div>

<script th:src="@{/js/bq/bq.js}" type="text/javascript" charset="utf-8"></script>