<div class="row content" style="height:500px;">
    <div class="col-sm-2" style="height:100%;border-right: 1px solid red;"></div>
    <div class="col-sm-10" style="height:100%;">
        <div id="message" style="height:80%;border-bottom: 1px solid red;overflow-y:auto;"></div>
        <div style="height:80%;">
            <textarea type="text" id="to_message"
                      style="resize:none;width:200px;height:100px;max-width:200px;max-height:100px;"></textarea><br/>
            <input type="button" onclick="send()" value="发送"/>
        </div>
    </div>
</div>
<!--实时通讯，推送-->
<script th:src="@{/js/websocket/index.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
var path = /*[[${#httpServletRequest.getScheme() + "://"
+ #httpServletRequest.getServerName() + ":"
+ #httpServletRequest.getServerPort()
+ #httpServletRequest.getContextPath()}]]*/;
websockets(path.replace("http","ws"));
/*]]>*/





</script>