<div class="col-xs-12 col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <!--<input class="btn btn-primary btn-xs" type="button" value="新增" onclick="gjfs_page_add()"/>-->
        </div>
        <div class="ibox-content">
            <div class="col-xs-2 col-sm-2">
                <form id="gjpl_set">
                    <label class="form-label">合作客户</label>
                    <br/>
                    <label class="form-label">提醒时间(天)</label>
                    <input class="form-control" type="hidden" name="lx" value="3"/>
                    <input class="form-control" type="text" name="zq" value="1"/>
                    <input class="btn btn-primary btn-xs" type="button" value="确定" onclick="gjpl_set()"/>
                </form>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/gjpl/gjpl.js}" type="text/javascript" charset="utf-8"></script>