<div class="col-xs-12 col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h2>设置长时间未拜访的客户的提醒、强制移入公海的时间</h2>
        </div>
        <div class="ibox-content">
            <div class="row">
                <form id="txqk_form">
                    <div class="col-lg-4 col-xs-4 col-sm-4">
                        <label class="form-label"><span class="text-danger">*</span>提醒时间(天)</label>
                        <input class="form-control" type="text" name="txsj"/>
                    </div>
                    <div class="col-lg-4 col-xs-4 col-sm-4">
                        <label class="form-label"><span class="text-danger">*</span>强制解除关系时间(天)</label>
                        <input class="form-control" type="text" name="qzyrghsj"/>
                    </div>
                    <div class="col-lg-4 col-xs-4 col-sm-4">
                        <label class="form-label">&nbsp;</label>
                        <input class="btn btn-primary" type="button" value="确定"
                               onclick="txqk_form()"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/txqk/txqk.js}" type="text/javascript" charset="utf-8"></script>