<div class="col-xs-12 col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>只支持.xls文件上传</h5>
            <!--<input class="btn btn-primary btn-xs" type="button" value="新增" onclick="khdj_page_add()"/>-->
        </div>
        <div class="ibox-content">
            <button class="btn btn-success " type="button" onclick="javascript:$('#khdr_file').click();">
                <i class="fa fa-upload"></i>&nbsp;&nbsp;<span class="bold">选择文件</span>
            </button>
            <input type="file" id="khdr_file" name="files" style="display:none;" accept="application/vnd.ms-excel"/>
            <span style="border: 1px solid #ccc;padding: 10px;" id="khdr_yxzts">未选择文件</span><br/>
            <input class="btn btn-primary btn-sm" type="button" value="确定上传" onclick="khdr_file_add()"/>
        </div>
    </div>
</div>

<script th:src="@{/js/khdr/khdr.js}" type="text/javascript" charset="utf-8"></script>