<div class="col-xs-12 col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            常用网站集合
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-lg-12 col-xs-12 col-sm-12">
                    <a href="http://www.gsxt.gov.cn/corp-query-homepage.html" target="_blank">国家企业信用信息公示系统</a><br/>
                    <a href="http://www.hsbianma.com" target="_blank">海关编码查询</a><br/>
                    <a href="http://fanyi.baidu.com" target="_blank">百度翻译</a><br/>
                    <a href="http://fanyi.youdao.com" target="_blank">有道翻译</a><br/>
                    <a href="http://map.baidu.com" target="_blank">百度地图</a><br/>
                    <a href="http://www.baidu.com" target="_blank">百度</a><br/>
                </div>
            </div>
        </div>
    </div>
</div>