<div class="col-xs-12 col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
        </div>
        <div class="ibox-content">
            <form id="account_add">
                <label>上级账户:</label>
                <shiro:principal property="account"/>
                <label>账号:</label>
                <input type="text" name="account" style="width:110px;"/>
                <label>姓名:</label>
                <input type="text" name="name" style="width:110px;"/>
                <label>手机号:</label>
                <input type="text" name="phone" style="width:110px;"/>
                <input class="btn btn-primary btn-xs" type="button" value="新增" onclick="account_add_save()"/>
            </form>
        </div>
    </div>
</div>

<script th:src="@{/js/account/add.js}" type="text/javascript" charset="utf-8"></script>