<div class="col-xs-12">
    <div class="col-lg-3"></div>
    <div class="col-lg-4">
        <form class="m-t" id="pwd_form" action="#" method="post">
            <!--<div class="form-group">-->
            <!--<input type="password" class="form-control" placeholder="请输入原密码" required="" name="password1" value=""/>-->
            <!--</div>-->
            <div class="form-group">
                <input type="password" class="form-control" placeholder="请输入新密码" required="" name="password" value=""/>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="请再次输入新密码" required="" name="password2"
                       value=""/>
            </div>
            <div class="form-group">
                <span class="form-control" id="pwd_error" aria-disabled="true"></span>
            </div>
            <input type="button" class="btn btn-primary block full-width m-b" value="确定" id="pwd_button"/>
        </form>
    </div>
    <div class="col-lg-3"></div>
</div>
<script th:src="@{/js/pwd/index.js}"></script>