<div class="col-xs-12 col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <form id="gjjl_page_query">
                <div class="col-xs-2 col-sm-2">
                    <label>跟进时间:</label>
                    <div class="input-group date" id="gjjl_gjsjStr">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                        <input type="text" class="form-control"
                               name="gjsjStr" readonly="readonly"/>
                    </div>
                    <div class="input-group date" id="gjjl_gjsjEnd">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                        <input type="text" class="form-control"
                               name="gjsjEnd" readonly="readonly"/>
                    </div>
                </div>
                <label>跟进人:</label>
                <select name="gjr" style="width:110px;" id="gjjl_page_gjr"></select>
                <label>跟进方式:</label>
                <select name="gjfs" style="width:110px;" id="gjjl_page_gjfs">
                </select>
                <input class="btn btn-primary btn-xs" type="button" value="查询" onclick="gjjl_page_query()"/>
            </form>
        </div>
        <div class="ibox-content">
            <table class="table table-striped table-bordered table-hover dataTables-example">
                <thead>
                <tr>
                    <th style="text-align: center;">序号</th>
                    <th style="text-align: center;">公司名称</th>
                    <th style="text-align: center;">跟进时间</th>
                    <th style="text-align: center;">跟进人</th>
                    <th style="text-align: center;">跟进方式</th>
                    <th style="text-align: center;">联系人</th>
                    <th style="text-align: center;">跟进情况</th>
                </tr>
                </thead>
                <tbody id="gjjl_page_table_data">
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="15" class="footable-visible">
                        <ul class="pagination pull-right">
                            <li class="footable-page-arrow" id="gjjl_page_to_first" style="display:none;">
                                <a>
                                    <font style="vertical-align: inherit;">首页</font>
                                </a>
                            </li>
                            <li class="footable-page-arrow" id="gjjl_page_first" style="display:none;">
                                <a data-page="first">
                                    <font style="vertical-align: inherit;">上一页</font>
                                </a>
                            </li>
                            <li class="footable-page-arrow" id="gjjl_page_last" style="display:none;">
                                <a data-page="last">
                                    <font style="vertical-align: inherit;">下一页</font>
                                </a>
                            </li>
                            <li class="footable-page-arrow" id="gjjl_page_to_last" style="display:none;">
                                <a>
                                    <font style="vertical-align: inherit;">末页</font>
                                </a>
                            </li>
                            <li class="footable-page-arrow disabled">
                                <a>
                                    <font style="vertical-align: inherit;" id="gjjl_page_now">当前页:1</font>
                                </a>
                            </li>
                            <li class="footable-page-arrow disabled">
                                <a>
                                    <font style="vertical-align: inherit;" id="gjjl_page_pages">总页数:1</font>
                                </a>
                            </li>
                            <li class="footable-page-arrow disabled">
                                <a>
                                    <font style="vertical-align: inherit;" id="gjjl_page_total">总条数:0</font>
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<script th:src="@{/js/gjjl/gjjl.js}" type="text/javascript" charset="utf-8"></script>