<div class="col-xs-12 col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">

        </div>
        <div class="ibox-content">
            <form id="khslxz_form">
                <label>非合作客户上限数量(负数不进行拦截)</label>
                <input type="number" value="0" name="sl"/>
                <input type="hidden" value="1" name="lx"/>
                <input class="btn btn-primary btn-xs" type="button" value="确定" onclick="khslxz_add()"/>
            </form>
        </div>
    </div>
</div>

<script th:src="@{/js/khslxz/khslxz.js}" type="text/javascript" charset="utf-8"></script>